<table class="hoverable">
    <thead>
    <tr>
      {{#each data.fields key="name" as |field|}}
          <th>
            {{#if field.translation}}
              {{field.translation}}
            {{else}}
              {{field.name}}
            {{/if}}
          </th>
      {{/each}}
      {{#if editable}}
        <th></th>
      {{/if}}
    </tr>
    </thead>

    <tbody>
      {{#each data.rows key="_id" as |row rowIndex|}}
        <tr>
            {{#each data.fields key="_id" as |field fieldIndex|}}
              {{#if editable}}
                <td>
                  {{wdb-input data=row field=field.name collection=data.rows}}
                </td>
              {{else}}
                {{get row field.name}}
              {{/if}}
            {{/each}}

            {{#if editable}}
              <td>
                <a class="medium mdi-action-highlight-remove" {{action 'remove' row}}></a>
              </td>
            {{/if}}
        </tr>
      {{/each}}
      {{#if editable}}
        <tr>
            <td colspan="9999" class="center">
                <button class="waves-effect waves-light btn" {{action 'add'}}>Додати</button>
            </td>
        </tr>
      {{/if}}
    </tbody>
</table>
{{#if data.page}}
<div class="center">
  {{#unless (eq data.page 1)}}
    {{link-to 'Попередня'  (query-params page=prevPage) classNames='waves-effect waves-light btn'}}
  {{/unless}}
  {{#unless (eq data.page data.pagesAll)}}
    {{link-to 'Наступна' (query-params page=nextPage) classNames='waves-effect waves-light btn'}}
  {{/unless}}
</div>
{{/if}}
